@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

.flipped{

  transform: rotateY(180deg);
}

.flip-transition{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

body{
  @apply bg-blue-primary;
}



.action-deck{
  @apply transition-all delay-200  w-8 h-8  items-center justify-center absolute bottom-5 left-5 z-20 p-2 rounded-full hover:shadow-lg cursor-pointer bg-yellow-primary flex
}
.btn-deck{

  @apply   translate-x-[45px] md:translate-x-[40px] lg:translate-x-[70px] translate-y-[-120px]
}


